/* font size  */

@import url('https://fonts.maateen.me/solaiman-lipi/font.css');


html {
  font-size: 12px;
  font-family: 'SolaimanLipi', sans-serif;

}
h6 {
  font-size: 1rem;
  font-weight: 800;
}
p{
  font-size: 1rem;
}
.menu.active .menu__items__link{
  font-size: 1rem;}
  .navbar__menu__item__link{
    font-size: 1rem;}
    .sub__menu__item__link{
    font-size: 1rem;}
    .blog h1{
    font-size: 2rem;}
    .blog p{
    font-size: 1rem;}
  .recent__title__left,
  .recent__title__right{
    font-size: 1rem;}
    .search input{
      font-size: 1.2rem;}









  .nav .menu{
    position: absolute;
    width: 300px;
    z-index: 2;
    display: none;
    @media(max-width:500px){
      width: 80%;
    }
  }
   .menu.active{
    display: inline-block;

  }
  .menu.active .menu__items{
    background-color: #fff;
    padding-bottom: 5px;
  }
  .menu.active .menu__items__link{
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 900;
  padding: 10px;
  border-width: 3px;
  height: 40px;
  border-left: 10px solid #fff ;
  &:hover{
    color: #000;
    border-left: 10px solid #000 ;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
}













 /** toggle bar **/
 .bars{
  height: 40px;
  width: 35px;
  cursor: pointer;
}
.bar{
  width: 35px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 6px 0;
  border-radius: 5px;
  transition: 0.4s ease-in ;
}
.bars.active .bar:nth-child(2){
  transition: 0.4s ease-in ;
  transform: translateX(250%);
  width: 0px;
}
.bars.active .bar:first-child{
  transition: 0.4s ease-in ;
  transform: rotate(-45deg) translate(-8px,7px);
}
.bars.active .bar:last-child{
  transition: 0.4s ease-in ;
  transform: rotate(45deg) translate(-8px,-8px);
  
}
/*menu */
.navbar{
  position: relative;
  display: block;
}
.navbar__menu{
  background-color: green;
  width: 100%;
  display:flex;
  position: absolute;
  transform: translateX(-50%,-50%);
  align-items: center;
  justify-content: center;
  -webkit-transform: translateX(-50%,-50%);
  -moz-transform: translateX(-50%,-50%);
  -ms-transform: translateX(-50%,-50%);
  -o-transform: translateX(-50%,-50%);
}
.navbar__menu__item{
  margin-left: 10px;
  border-bottom: 3px solid green;
&:hover{
  border-bottom: 3px solid #000;

}
}
.navbar__menu__item__link{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding-inline: 20px;
  padding-block: 10px;
  font-weight: 800;
}

/** FIXME */
.navbar__menu__item:hover .sub__menu__item__link{
  color: #fff;
}
.sub__menu__item__link{
  text-decoration: none;
  color: #fff;

}
.sub__menu__item{
  border-bottom: 3px solid #fff;
  padding-block: 5px;
  padding-inline: 10px;
  margin-bottom: 10px;
  background-color: rgba(17, 17, 17, 0.619);
  width: 150px;
  font-weight: 800;
  &:hover{
   border-bottom: 3px solid #000;
   background-color: green;

 } 
}
.sub{
  position: relative;
}
.sub:hover .sub__menu{
  display: block;
}
.sub__menu{
  position: absolute;
  display: none;
}
@media(max-width:1000px){

  .navbar__menu{
    display: none;
  }
}
/*style__1 start */
/* large display */
.style__1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 20px;
  margin-top: 80px;
  @media (max-width:1000px){
    margin-top: 0px;
  }
}

/*Medium display */
@media (min-width: 600px) and (max-width: 1000px) {
  .style__1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .style__1 .row__1 {
    grid-column: 1/-1;
  }
  .style__1 .row__1 .blog img {
width: 100%;  }
  .style__1 .row__2 {
    grid-column: 1;
    grid-row: 2;
  }
}

/*small display */
@media (max-width: 600px) {
  .style__1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}


/*style__1 end */
/* *row__1 style start */
.blog h1{
  margin-block: 10px;
}

.blog__group{
  margin-block: 15px;
  padding-block: 15px;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
/**row__1 style end */


/**row__2 style start */
.recent__title{
  display: flex;
  border-bottom: 1px solid #42a8df;
}
.recent__title__left,
.recent__title__right{
  padding: 10px;
  color: #000;
}
.recent__title__left.active,
.recent__title__right.active{
  background-color: #42a8df;
  color: #fff;
}
.recent__blog__post{
  display: grid;
  grid-template-columns:1fr 2fr ;
  gap: 10px;
  align-items: end;
}
.recent__blog__post__title{
  margin-bottom: 15px;
}
.recent__blog__post:last-child{
  border-bottom: 1px solid #111111;
}
.widget{
  border-bottom: 1px solid #111111;
  padding-block-end: 10px;

}
.widget h6{
  padding-block: 10px;
}
.widget__title{
  display:flex;
  align-items: center;
  padding-block: 10px;
}
.widget__title h6{
  width: 80%;
}
.widget__title__line{
height: 2px;
width: 100%;
background-color: #42a8df;
display: inline-block;
}
/**row__2 style end */
/**row__3 style start */
.row__3 .ads img{
  width: 100%;
}
/**row__3 style end */

/*style__2 start */
.style__2{
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
  @media(max-width:1000px)
  {grid-template-columns: 2fr 1fr;}
  @media(max-width:600px)
  {grid-template-columns: 1fr;}
}
.style__2 .row .blogs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  @media(max-width:1000px)
  {grid-template-columns: 1fr 1fr;}
  @media(max-width:600px)
  {grid-template-columns: 1fr;}
}
.style__2 .row .title{
  padding-block: 20px;
}
.style__2 .row__2 .blogs{
  border-bottom: 1px solid #111111;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  @media(max-width:600px)
  { margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #111111;
  }
}
/*style__2 end */
.banner img{
  width: 100%;
}
/*style__3 start */
.style__3{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 20px;

}
@media(max-width:1000px){
  .style__3{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@media(max-width:500px){
  .style__3{
    display: grid;
    grid-template-columns: 1fr;
  }
}

  @media(max-width:1000px){
    .style__3 .row__3{
    grid-column: 1/-1;
  }
}
.style__3 .row__1 .ads img{
  width: 100%;
}
.style__3 .row__3 .widget img{
  width: 100%;

}
.style__3 .row__3 .widget ul li{
 position: relative;
 padding-left: 35px;
 margin-left: 10px;
}
.style__3 .row__3 .widget ul li::before{
  content:"";
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  left: 0;
  top: 40%;
  transform: translate(-50%,-50%);
  font-size:120px;
  line-height:20px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  @media(max-width:1000px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
{
    top: 60%;
  }
  @media(max-width:1000px){
    top: 15%;
  }
}
.style__3 .row__3 .widget ul li a{

  text-decoration: none;
  color: #000;
}