@media (max-width: 1000px) {
    .search__link button .icons .icon{
        display: none;
    }
    .login__link p{
        display: none;
    }
    nav{
        height: 80px;        
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    section:first-child{
      margin-top: 80px !important;
    }
    nav.active{
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        overflow: auto;
        height: 100vh;
    }
    
    nav .actions .toggle__bars button .close .icon{
      
display: none;
    }
    nav.active .actions .toggle__bars button .open .icon{
      
display: none;
    }
    nav.active .actions .toggle__bars button .close .icon{
      
display: inline;
margin-left: -30px;
    }
    nav.active .actions .toggle__bars
    {
      display: inline;
      margin: 0;
      padding: 0 !important;
    }
  nav .top {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    max-width: 600px;
    position: absolute;
    padding-top: 20px;
    margin-inline: auto;
    left: 0;
    right: 0;
}
nav .bottom{
    width: 100%;
    height: 100px;
  }
  .top .nav-menu {
    flex: 1;
    order: 2;
    display: none;
}
.top.active .nav-menu .menu{
    padding: 10px;
  }
   nav.active .bottom{
    display: none;
  }
  nav.active .nav-menu {
    display: flex;
  }
  .top .logo {
    width: 50%;
  }
  .nav-menu .menu {
    display: block;
    flex-direction: column;
    width: 100%;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    order: 1;
    width: 50%;
  }
  .sub__menu{
    display: none;
  }
  .drop.active .sub__menu{
    display: block;
  }
}
