* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
/* styling element  */
html {
  font-size: 10px;
}
nav {
  background-color: #fff;
  border: 3px solid red;
  overflow: hidden;
}
nav .top{
    position:fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding-inline: 10px;
    border: 3px solid;
}


.drop button .arrow .icon{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.drop:hover button .arrow .icon{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.icons .icon {
  width: 20px;
}
.arrow .icon {
  background-color: #fff;
  width: 12px;
  display: block;
}
.menu .item p,
.menu .item .item__link p{
    color: black;
    background-color: #fff;
    font-size: 18px;
    padding: 10px;
}
.login__link p{
font-size: 16px;
font-weight: 700;
padding: 0;
}
.menu .item p:hover,
.menu .item .item__link p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.live .live_link,
.login__link,
.navbar__toggle {
  color: black;
}
.live .live_link,
.search .search__link,
.search .search__link button,
.login .login__link,
.login .login__link button,
.toggle__bars button .icons .icon{
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
}
.actions{
    background-color: #fff;
}
.toggle__bars button .close{
    display: none;
}
.toggle__bars button{
    margin-inline-start: 20px;
}
.search__link button .search{
    margin-inline: 5px;
}
.login__link p{
    background-color: #000;
    color: #fff;
    padding: 7px 14px;
    padding-top: 5px;
    line-height: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

nav .bottom{
  height: 100px;
  @media(max-width:1200px){
      border: #000 5px solid;
      background-color: #fff;
  }
  @media(max-width:800px){
      border: #000 5px solid;
      background-color: #fff;
  }
}