/* mapping
  .nav
    .logo > button > span.icons > svg.logo
    .nav-menu > ul.menu > li.item > a.item__link > [(p) (button > span.icons >svg.icon)]
     <<drop>> li.item > ul.sub__menu > li.item > a.item__link > p 
    .actions 
    > .live > (button) (h1) 
    > .search > button > span.icons > svg.logo
    > .login > (p) (button)
    >.toggle__bars ( button > span.icons > svg.open) ( button > span.icons > svg.close) */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font: inherit;
}
html {
  font-size: 10px;
}
.icons .icon {
  width: 20px;
}
.icons .logo {
  width: 200px;
}
/* nav total structure */
.nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 100px;
  background-color: orange;
  margin: auto;
}
/* nav menu structure  */
.logo {
  display: block;
  padding-block-start: 20px;
  margin-inline-end: 20px;
}
.nav-menu .menu {
  background-color: blue;
  display: block;
  padding-block-start: 20px;
  padding-inline-end: 40px;
}
.actions{
  background-color: yellow;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

/* all link style  */
.item__link p,
.item p {
  color: red;
  background-color: yellowgreen;
  padding: 5px 10px;
  margin: 5px;
}
.nav-menu .menu .item {
  display: inline-block;
  position: relative;
}
.menu .item p {
  font-size: 2rem;
}
.sub__menu {
  background-color: firebrick;
  width: 200px;
  position: absolute;
  display: block;
}
.sub__menu .item {
  position: absolute;
  width: 200px;
}
